<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="container">
    <form th:action="@{/guest}" th:object="${guest}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">

        <div class="form-group">
            <label class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-5">
<!--                <input th:text="${guest.name}" type="text" id="name" name="name" class="form-control" readonly>-->
                <input th:value="*{name}" type="text" id="name" name="name" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">角色</label>
            <div class="col-sm-5">
<!--                <input th:text="${guest.role}" type="text" id="role" name="role" class="form-control">-->
                <input th:value="*{role}" type="text" id="role" name="role" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="提交" class="btn btn-info">
            </div>
        </div>
    </form>
</body>
</html>